<!doctype html>
<html lang="en">
<head>
    <title>承担项目查询</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <style>
    .bottom-center {
      position: fixed;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      text-align: center;
    }

    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/index">主页</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/paper/search" style="color: green;">论文发表</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/project/search" style="color: blue;">项目承担</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/course/search" style="color: green;">课程主讲</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/statistics" style="color: green;">查询统计</a>
            </li>
        </ul>
    </div>
        <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" id="userDropdown" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            {{ request.user.username }}
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
            <a class="dropdown-item" href="/logout">注销</a>
        </div>
    </div>
</nav>
<div class="container">
    <br><br>
    <h1>承担项目查询</h1>
    <br>
    <form class="form-inline">
        <div class="form-group">
            <input type="text" name="query" class="form-control" placeholder="请输入教师工号" value="{{error}}">
            &nbsp;&nbsp;&nbsp;
            <button type="submit" class="btn btn-primary">查询</button>
            &nbsp;&nbsp;&nbsp;
            <a href="/project/insert">
                <button type="button" class="btn btn-success">增加项目信息</button>
            </a>
            &nbsp;&nbsp;&nbsp;
            <a href="/index">
                <button type="button" class="btn btn-secondary">返回</button>
            </a>
        </div>
    </form>
    <br>
    <div>
        <p>教师工号：{{teacher.工号}} &nbsp;&nbsp;姓名：{{teacher.姓名}} &nbsp;&nbsp;
            性别：{% if teacher.性别 == 1 %}男
            {% elif teacher.性别 == 0 %}女{% endif %}&nbsp;&nbsp;
            职称：{% if teacher.职称 == 1 %}博士后
            {% elif teacher.职称 == 2 %}助教
            {% elif teacher.职称 == 3 %}讲师
            {% elif teacher.职称 == 4 %}副教授
            {% elif teacher.职称 == 5 %}特任教授
            {% elif teacher.职称 == 6 %}教授
            {% elif teacher.职称 == 7 %}助理研究员
            {% elif teacher.职称 == 8 %}特任副研究员
            {% elif teacher.职称 == 9 %}副研究员
            {% elif teacher.职称 == 10 %}特任研究员
            {% elif teacher.职称 == 11 %}研究员{% endif %}
        </p>
        <br>
        <p>共查询到参与:{{num}}个项目</p>
    </div>
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>项目信息</th>
            <td>项目名称</td>
            <td>项目来源</td>
            <td>项目类型</td>
            <td>项目时间</td>
            <td>总经费</td>
            <td>承担经费</td>
            <td>项目号</td>
        </tr>
        </thead>
        <tbody>
        {% if num > 0 %}
        {% for project in project_list %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td class="text-wrap" style="max-width: 200px;">{{project.项目名称}}</td>
            <td>{{project.项目来源}}</td>
            {% if project.项目类型 == 1 %}
            <td>国家级项目</td>
            {% elif project.项目类型 == 2 %}
            <td>省部级项目</td>
            {% elif project.项目类型 == 3 %}
            <td>市厅级项目</td>
            {% elif project.项目类型 == 4 %}
            <td>企业合作项目</td>
            {% elif project.项目类型 == 5 %}
            <td>其他类型项目</td>
            {% endif %}
            <td>{{project.开始年份}}-{{project.结束年份}}</td>
            <td>{{project.总经费}}</td>
            <td>{{project.承担经费}}</td>
            <td>{{project.项目号}}</td>
            <td>
                <div class="row">
                    &nbsp&nbsp&nbsp
                    <!-- <form>
                      <button type="submit" class="btn btn-primary btn-sm">查看</button>
                    </form>
                    &nbsp&nbsp -->
                    <form action="/project/{{ project.项目号 }}/update">
                        <button type="submit" class="btn btn-primary btn-sm">查看&修改</button>
                    </form>
                    &nbsp&nbsp
                    <form>
                        <button type="button" onclick="delet('{{project.项目号}}','{{teacher.工号}}')"
                                class="btn btn-danger btn-sm">
                            删除
                        </button>
                    </form>
                </div>
            </td>
        </tr>
        {% endfor %}
        {% endif %}
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">删除结果</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" onclick="location.reload()" class="btn btn-primary" data-dismiss="modal">确定
                </button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function delet(pro_id,te_id){
      $.ajax({
        type: 'POST',
        url: '/project/search/',
        data: {
          'csrfmiddlewaretoken': '{{ csrf_token }}',
          '项目号': pro_id,
          '工号': te_id
        },
        success: function (result) {
          $('#modal-body').text(result);
          $('#modelId').modal('show');
        },
      });
    };



</script>
<div class="bottom-center"><p class="mt-5 mb-3 text-muted">zxy&copy; 2023</p></div>

</body>
</html>