<!doctype html>
<html lang="en">
<head>
    <title>主讲课程查询</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <style>
    .bottom-center {
      position: fixed;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      text-align: center;
    }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/index">主页</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/paper/search" style="color: green;">论文发表</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/project/search" style="color: green;">项目承担</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/course/search" style="color: blue;">课程主讲</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/statistics" style="color: green;">查询统计</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <br><br>
    <h1>主讲查询</h1>
    <br>
    <form class="form-inline">
        <div class="form-group">
            <input type="text" name="query" class="form-control" placeholder="请输入教师工号" value="{{error}}">
            &nbsp;&nbsp;&nbsp;
            <button type="submit" class="btn btn-primary">查询</button>
            &nbsp;&nbsp;&nbsp;
            <a href="/course/insert">
                <button type="button" class="btn btn-success">增加课程信息</button>
            </a>
            &nbsp;&nbsp;&nbsp;
            <a href="/index">
                <button type="button" class="btn btn-secondary">返回</button>
            </a>
        </div>
    </form>
    <br>
    <div>
        <p>教师工号：{{teacher.工号}} &nbsp;&nbsp;姓名：{{teacher.姓名}} &nbsp;&nbsp;
            性别：{% if teacher.性别 == 1 %}男
                {% elif teacher.性别 == 0 %}女
                {% endif %}&nbsp;&nbsp;
            职称：{% if teacher.职称 == 1 %}博士后
                {% elif teacher.职称 == 2 %}助教
                {% elif teacher.职称 == 3 %}讲师
                {% elif teacher.职称 == 4 %}副教授
                {% elif teacher.职称 == 5 %}特任教授
                {% elif teacher.职称 == 6 %}教授
                {% elif teacher.职称 == 7 %}助理研究员
                {% elif teacher.职称 == 8 %}特任副研究员
                {% elif teacher.职称 == 9 %}副研究员
                {% elif teacher.职称 == 10 %}特任研究员
                {% elif teacher.职称 == 11 %}研究员
                {% endif %}
        </p>
        <br>
        <p>共查询到:{{num}}个主讲课程</p>
    </div>
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>课程信息</th>
            <td>课程号</td>
            <td>课程名称</td>
            <td>主讲学时</td>
            <td>学期</td>
        </tr>
        </thead>
        <tbody>
        {% if num > 0 %}
        {% for course in course_list %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{course.课程号}}</td>
            <td>{{course.课程名称}}</td>
            <td>{{course.承担学时 }}</td>
            {% if course.学期 == 1 %}
            <td>{{course.年份}} 春</td>
            {% elif course.学期 == 2 %}
            <td>{{course.年份}} 夏</td>
            {% elif course.学期 == 3 %}
            <td>{{course.年份}} 秋</td>
            {% else %}
            <td></td>
            {% endif %}
            <td>
                <div class="row">
                    &nbsp&nbsp&nbsp
                    <!-- <form>
                      <button type="submit" class="btn btn-primary btn-sm">查看</button>
                    </form>
                    &nbsp&nbsp -->
                    <form action="/course/{{ course.课程号 }}{{course.年份 }}{{ course.学期 }}/update">
                        <button type="submit" class="btn btn-primary btn-sm">查看&修改</button>
                    </form>
                    &nbsp&nbsp
                    <form>
                        <button type="button" onclick="delet('{{course.课程号}}','{{teacher.工号}}','{{course.承担学时}}','{{course.年份}}','{{course.学期}}')"
                                class="btn btn-danger btn-sm">
                            删除
                        </button>
                    </form>
                </div>
            </td>
        </tr>
        {% endfor %}
        {% endif %}
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">删除结果</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" onclick="location.reload()" class="btn btn-primary" data-dismiss="modal">确定
                </button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function delet(course_id,te_id,te_time,cou_year,cou_term){
      $.ajax({
        type: 'POST',
        url: '/course/search/',
        data: {
          'csrfmiddlewaretoken': '{{ csrf_token }}',
          '课程号': course_id,
          '工号': te_id,
          '承担学时':te_time,
          '年份':cou_year,
          '学期':cou_term
        },
        success: function (result) {
          $('#modal-body').text(result);
          $('#modelId').modal('show');
        },
      });
    };


</script>
<div class="bottom-center"><p class="mt-5 mb-3 text-muted">zxy&copy; 2023</p></div>

</body>
</html>